<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h3>Login</h3>
    <form action="/api/users/login" method="post" class="registerForm">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Ingresar</button>
    </form>
    <a href="/api/sessions/github">Iniciar sesión con GitHub</a>
    <a href="/register">Registrarme</a>
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>