<h2>AGREGAR PRODUCTOS</h2>
<form action="">
    <input type="text" id="title" placeholder="Titulo">
    <input type="text" id="description" placeholder="Descripción">
    <input type="number" id="price" placeholder="Precio">
    <input type="text" id="img" value="sin imagen">
    <input type="text" id="code" placeholder="Codigo">
    <input type="Number" id="stock" placeholder="Stock">
    <input type="text" id="category" placeholder="Categoria">
</form>